.admin-nav {
  height: calc(100vh - 7rem);
  background-color: #005b9a;
  min-width: 12%;
  /* max-width: 14%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.admin-nav > div {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-nav a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.admin-nav div.active {
  background-color: #1e92eb;
  font-weight: 600;
}
