.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.admin-header img {
  height: 5rem;
}

.admin-header-left,
.admin-header-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.admin-header-right div {
  display: none;
  position: relative;
  z-index: 2;
}

.fa-caret-down:hover .admin-header-right div {
  display: block;
}

.admin-header-right div:hover {
  display: block;
}
