.about-ngo {
  width: 100%;
  padding: 3rem 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.about-ngo h2 {
  color: #000066;
  text-align: center;
}

.about-ngo > div h3 {
  font-size: 1rem;
  color: #990000;
}

.about-ngo ul {
  list-style: circle;
}

/* Responsive width: 0 to 446px */

@media screen and (max-width: 445px) {
  .about-ngo {
    padding: 1rem;
    flex-direction: column;
  }

  .about-ngo > img {
    height: 10rem;
    display: block;
    margin: 0 auto;
  }
}
