.volunteer-form {
  width: 100%;
}

.volunteer-form-text {
  padding: 3rem 7rem;
}

.volunteer-recruit {
  width: 100%;
  /* background-color: #fef9c4; */
  padding: 2rem 7rem;
}

.volunteer-recruit h2 {
  text-align: center;
  font-size: 2.2rem;
  /* margin-bottom: 2rem; */
}

.volunteer-recruit fieldset#personal {
  /* border: 1px solid black; */
  width: 100%;
  padding: 2rem 4rem;
  background-color: #efefef;
  /* border-bottom: 2px dotted #f56a01; */
  border-radius: 1rem;

  display: flex;
  flex-direction: column;

  gap: 1rem;
}

legend {
  text-align: center;
}

.volunteer-recruit fieldset#personal label {
  width: 100px;
}

#birth-date {
  width: 300px;
}

.volunteer-recruit form input,
#reason {
  width: 100%;
  border: 2px solid #000;
  padding: 0.7rem 0 0.7rem 1rem;
  border-radius: 0.3rem;
}

.volunteer-recruit-form-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.volunteer-form #education {
  margin-top: 1rem;
}

.volunteer-form select {
  display: block;
  border: 2px solid #000;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}

.volunteer-form .form-options {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.volunteer-form .form-options p {
  font-size: 0.9rem;
  color: rgb(43, 42, 42);
}

.volunteer-submit {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.volunteer-form button {
  background-color: #f56a01;
  padding: 1rem 4rem;
  border-radius: 0.8rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}
