footer {
  width: 100%;
  background-color: #3c002f;
  color: #fff;
  padding: 1rem 7rem;
}

.top-footer > div {
  width: 31.33%;
  /* border: 2px solid red; */
  padding: 0.5rem;
}

.top-footer img {
  height: 7rem;
  display: block;
  /* margin: 0 auto; */
  mix-blend-mode: lighten;
  margin-bottom: 1rem;
}

.top-footer,
footer .bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.top-footer {
  margin-bottom: 2rem;
}

.top-footer h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.top-footer .contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.top-footer .contact > div {
  margin-left: -1rem;
}

.top-footer i {
  color: #f56a01;
  /* margin-top: 1rem; */
  font-size: 1.2rem;
}

.top-footer .quick-links {
  display: flex;
  flex-direction: column;
}

.top-footer .quick-links a {
  text-decoration: none;
  color: #fff;
}

.top-footer .quick-links a:hover,
footer .bottom a:hover {
  color: #f56a01;
}

footer .bottom a {
  text-decoration: none;
  color: #fff;
}

footer .bottom a:first-child {
  margin-right: 2rem;
}

/* Responsive CSS */

@media screen and (max-width: 800px) {
  footer {
    padding: 1rem 3rem;
  }
  .top-footer {
    padding: 1rem 0;
  }

  .top-footer > div {
    width: 47%;
  }

  footer .bottom {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: -2rem;
  }

  footer .bottom > div > p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 450px) {
  footer {
    padding: 1rem;
  }

  .top-footer h3 {
    text-align: center;
  }

  .top-footer img {
    display: block;
    margin: 0 auto;
    height: 10rem;
    margin-bottom: 1rem;
  }

  .top-footer > div {
    width: 100%;
  }

  .top-footer .quick-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 380px) {
  footer {
    padding: 0.5rem;
  }

  .top-footer .quick-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
