.carousel-home {
  background-color: #2d3565;
  padding: 1rem 4rem;
}

.carousel-home img {
  height: 100vh;
  display: block;
  margin: 0 auto;
}

/* .carousel-items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */
