.top {
  background-color: #fef9c4;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7rem;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.contact i {
  color: #0a0a0a;
  margin-right: 0.6rem;
  font-size: 1.1rem;
}

.contact span {
  font-size: 0.9rem;
  font-weight: 500;
}

.contact a {
  text-decoration: none;
  color: #0a0a0a;
}

.top .socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.top .socials i {
  color: #0a0a0a;
  background-color: #ffd73a;
  padding: 0.7rem;
  border-radius: 50%;
  font-size: 0.9rem;
}

.top .socials i:hover {
  border: 1px solid #3c002f;
  background-color: inherit;
  padding: calc(0.7rem - 1px) calc(0.7rem - 1px);
}

header .navi {
  background-color: #fff;
  width: 91%;
  margin: 0 auto;
  padding: 0.8rem;
  border-radius: 0.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navi img {
  width: 12rem;
}

.navi .nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navi .nav-links a {
  text-decoration: none;
  color: #0a0a0a;
  font-size: 1.2rem;
  font-weight: 500;
}

nav button {
  background-color: #3d498d;
  color: #fff;
  padding: 1.5rem 1rem;
  border-radius: 0.8rem;
}

nav button:hover {
  border: 2px solid #3d498d;
  background-color: inherit;
  color: #3d498d;
  padding: calc(1.5rem - 2px) calc(1rem - 2px);
}

/* Responsive CSS */

@media screen and (max-width: 1080px) {
  .top {
    padding: 0.7rem 5rem;
  }
}

@media screen and (max-width: 890px) {
  .top {
    padding: 0.7rem 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 990px) {
  .top .navi {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
  }
}

@media screen and (max-width: 690px) {
  .top {
    padding: 0.7rem;
  }
}

@media screen and (max-width: 620px) {
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 590px) {
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .top .contact span {
    display: none;
  }
}
