.logout {
  background-color: #fef9c4;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout .logout-text {
  background-color: #fff;
  width: 50%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
}

.logout .logout-btns {
  width: 50%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.logout-btns button:first-child {
  background-color: #2d3565;
  width: 50%;
  padding: 0.8rem;
  border-radius: 0.3rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

.logout-btns button:last-child {
  background-color: #bed9e7;
  width: 50%;
  padding: 0.8rem;
  border-radius: 0.3rem;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}

.logout-btns button:hover {
  background-color: #6b728e;
}
